.profile-block {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-name {

}

.profile-full-name {
    
}

.profile-random-number {
    
}

.profile-item {
    margin: 15px 0;
}