.profile-block {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.back-to-login {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
}

.profile-name {

}

.profile-full-name {
    
}

.profile-random-number {
    
}

.profile-item {
    margin: 15px 0;
}

.profile-log-out {
    cursor: pointer;
    width: auto;
    font-size: 55px;
    padding: 20px 60px;
    border: 2px solid white;
}