.get-info-btn {
  padding: 30px;
  border: 3px solid black;
  cursor: pointer;
  display: inline-block;
}

.info-text {
  display: inline-block;
  margin-left: 50px;
  color: red;
}

.login {
  padding: 20px;
  border: 3px solid black;
  font-size: 20px;
  margin: 30px;
}

.login-btn {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}

.account-name {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 40px;
}

.failed-to-login {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: rgb(83, 30, 30);
}